@charset "utf-8";

/* 全体、幅の設定
-------------------------------------------*/
body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  background-color: #efefef;
  width: 100%;
  margin: 0 auto;
}

.menu header ul li:nth-child(1) a,
.fussy header ul li:nth-child(2) a,
.store header ul li:nth-child(3) a,
.qa header ul li:nth-child(4) a {
  background-color: #ea5520;
}

/* header
-------------------------------------------*/

header nav {
  height: 60px;
  background-color: #fff;
}

header .logo {
  float: left;
  width: 20%;
  height: 60px;
}

header .logo img {
  width: 100%;
  height: auto;
  margin-top: -6px;
}

header nav > ul {
  display: table;
  width: 80%;
  text-align: center;
  float: left;
}

header nav > ul li {
  display: table-cell;
}

header nav > ul li a {
  display: block;
  color: #000;
  font-size: 0.875em;
  line-height: 60px;
}

header nav ul .main1 {
  position: relative;
  display: table-cell;
}

header nav > ul li.sub1 {
  width: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  top: 60px;
  background: #ea5520;
  transition: all .2s ease;
  white-space: nowrap;
}

header nav ul > li:hover {
  background: #ea5520;
  transition: all .2s;
}

header nav ul > li:hover li.sub1 {
  visibility: visible;
  opacity: 1;
}

.separator {
  border-left: 1px solid #000;
}

/* scroll
-------------------------------------------*/
p.scroll {
  text-align: center;
  margin-bottom: 50px;
}

/* article
-------------------------------------------*/
article {
  margin: 30px 30px 0;
}

.index h1 {
  font-size: 2em;
  line-height: 20px;
  letter-spacing: 2px;
}

.index h1 span.min {
  font-size: 0.5em;
}

.index h1 span {
  font-weight: normal;
  font-size: 0.5em;
}

.index h2 {
  font-size: 2.5em;
  margin-bottom: 50px;
  padding-top: 100px;
}

/* section
-------------------------------------------*/
section {
  padding-bottom: 80px;
}

/* section.concept
-------------------------------------------*/
.concept-left p {
  font-size: 0.9em;
  line-height: 1.8em;
  margin-top: 20px;
}

.concept-box {
  width: 100%;
  position: relative;
  height: 400px;
}

.concept-left {
  background-color: rgba(255, 255, 255, 0.6);
  width: 45%;
  height: auto;
  position: absolute;
  top: 30px;
  padding: 3%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 40%, #fff 50%);
}

.concept-right {
  margin-left: 30%;
  height: 100%;
  z-index: -1;
}

.concept-right img {
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  object-position: 85px 36%;
  object-fit: cover;
}

/* section.howTo-order
-------------------------------------------*/

.howTo-order {
  text-align: center;
  background: #ea5520;
  color: #fff;
  padding-bottom: 100px;
}

.howTo-order ul {
  width: calc(100% / 3);
  float: left;
}

.howTo-order ul li {
  font-size: 1.6em;
  margin-top: 20px;
}

.step-box {
  padding-bottom: 80px;
}

.select,
.memo,
.done {
  height: 180px;
}

.step-box .select {
  background-image: url(../images/step-01.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.step-box .memo {
  background-image: url(../images/step-02.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.step-box .done {
  background-image: url(../images/step-03.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.howTo-content {
  width: 70%;
  margin: 0 auto;
  color: #000;
}

.howTo-content .step-01,
.step-02 {
  background-color: #fff;
  padding: 30px;
  border-radius: 25px;
}

.step-01 {
  margin-bottom: 50px;
}

.howTo-content p:not(:last-of-type) {
  margin-bottom: 20px;
}

.howTo-content .title {
  font-weight: bold;
  font-size: 1.5em;
}

.howTo-content .title span {
  color: #00b901;
  padding-right: 1em;
}

.howTo-content a.btn {
  display: block;
  margin: 0 auto;
  border: 3px solid #00b901;
  width: 300px;
  height: 70px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #00b901;
  font-size: 1.2em;
  transition: 0.4s;
}

.howTo-content a.btn:hover {
  color: #000;
  background: #fff;
  border: 3px solid #00b901;
  transition: 0.1s;
}

/* footer
-------------------------------------------*/

footer {
  background-color: #fff;
  padding-top: 30px;
  color: #ea5520;
  font-size: 0.9em;
}

footer a {
  color: #ea5520;
}

.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  padding: 30px 30px;
  margin: 0 auto;
}

footer .copy {
  height: 30px;
  line-height: 30px;
  color: #000;
  text-align: center;
}

/* footer-left
-------------------------------------------*/
.footer-left {
  width: calc(100% / 3);
}

.footer-left p {
  line-height: 25px;
}

.footer-left ul.socials {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer-left ul.socials a:hover {
  color: #000;
}

footer address span {
  text-decoration: underline;
}

/* footer-center
-------------------------------------------*/
.footer-center {
  width: calc(100% / 3);
  text-align: center;
}

.footer-center img {
  width: 200px;
  height: auto;
  vertical-align: middle;
}

/* footer-right
-------------------------------------------*/
.footer-right {
  width: calc(100% / 3);
  text-align: right;
}

.footer-right a {
  background-image: url(../images/right.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: contain;
  padding-right: 25px;
  line-height: 30px;
}

.footer-right a:hover {
  border-bottom: 1px solid #000;
}

/* index以外の共通
-------------------------------------------*/
.container-wrap {
  margin: 30px;
}

.top-box {
  width: 100%;
  height: 240px;
  background: #FF6347;
}

.top-box h2 {
  display: inline-block;
  margin-top: 5%;
  margin-left: 10%;
}

.container-wrap h2 {
  text-align: center;
  margin-bottom: 60px;
}

/* menu.html
-------------------------------------------*/
.menu .top-box {
  background-image: url("../images/top-menu.png");
  background-repeat: no-repeat;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
}

.menu-content {
  width: calc((100% - 70px) / 3);
  flex-basis: auto;
  background: #fff;
  padding: 3%;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #000;
}

.menu-content:hover {
  opacity: 0.8;
  cursor: pointer;
}

.menu-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.en {
  font-size: 0.9em;
  margin-bottom: 20px;

}

.menu-item .type span {
  background-color: #f8d29f;
  padding: 3px;
  font-size: 0.8em;
}

.menu-item .price {
  color: #ea5520;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 20px;
}

.menu-item .price::before {
  content: "¥";
  font-size: 0.8em;
}

.kcal::before {
  content: "/";
}

.price,
.kcal {
  display: inline-block;
}

/* order.html
-------------------------------------------*/
.tab-wrap {
  display: flex;
  flex-wrap: wrap;
}

input[type="radio"] {
  display: none;
}

.tab-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.tab-area label {
  color: #fff;
  background: rgb(144, 136, 133);
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
  margin: 0 5px;
}

.tab-area label:hover {
  opacity: 0.5;
}

.panel-area {
  background: #fff;
  width: 50%;
  float: right;
}

.order-left {
  width: 50%;
  height: 550px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#plate {
  z-index: 1;
  width: 100%;
  max-width: 468px;
  height: auto;
}

#topping-01 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-left #topping-01 img {
  width: 75%;
  height: auto;
  position: absolute;
  left: 60px;
  z-index: 2;
}

.tab-panel {
  width: 100%;
  display: none;
}

#tab1:checked ~ .tab-area .tab1-label {
  color: #fff;
  background: rgb(234, 85, 32);
}

#tab1:checked ~ .panel-area #panel1 {
  display: block;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

#tab2:checked ~ .tab-area .tab2-label {
  background: rgb(234, 85, 32);
  color: #fff;
}

#tab2:checked ~ .panel-area #panel2 {
  display: block;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.tab-area:after {
  content: '';
  width: 100%;
  height: 10px;
  background: rgb(234, 85, 32);
  display: block;
}

.arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  vertical-align: middle;
}

.arrow::before,
.arrow::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.tab-arrow::before {
  left: 16px;
  box-sizing: border-box;
  width: 4px;
  height: 4px;
  border: 4px solid transparent;
  border-left: 4px solid #fff;
}

.total-price {
  line-height: 25px;
  color: #fff;
  font-size: 0.875em;
  background: rgba(53, 37, 19, 0.7);
  padding: 3%;
/*  display: flex;*/
/*  align-items: center;*/
/*  align-items: baseline;*/
/*  justify-content: center;*/
}

.total-price .price {
/*  flex-basis: 50%;*/
  letter-spacing: 1px;
  background: pink;
}

.total-price .price span {
  font-size: 1.25em;
}

.total-price .number {
  background: tomato;
}

.total-price input[type="image"]{
  background: pink;
}

/* パンメニューパネル
----------------------------------------*/
.panel-01-title {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
}

.panel-01-title span {
  font-size: 2em;
  color: #00b901;
}

.panel-01-title:after {
  content: "※おひとつお選びください";
  font-size: 0.8em;
}

#panel1 .custom-content {
  background: #352513;
  padding: 30px;
  color: #fff;
  font-size: 0.75em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#panel1 .topping-box {
  cursor: pointer;
  margin-bottom: 4%;
  text-align: center;
  margin-right: 5%;
}

#panel1 .topping-box img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

/* トッピングメニューパネル
----------------------------------------*/
.panel-02-title {
  font-size: 1.5em;
  font-weight: bold;
}

.panel-02-title span {
  font-size: 2em;
  color: #00b901;
}

.panel-02-title:after {
  content: "※おひとつお選びください";
  font-size: 0.8em;
}

#panel2 .custom-content {
  background: #352513;
  padding: 30px;
  color: #fff;
  font-size: 0.75em;
}

#panel2 .topping-box {
  cursor: pointer;
  margin-bottom: 4%;
  text-align: center;
  margin-right: 10%;
}

#panel2 .topping-box img {
  width: 100%;
  max-width: 150px;
  height: auto;
}


.vege-topping,
.main-topping,
.side-topping {
  display: flex;
  justify-content: center;
}

.topping-box:hover {
  background: tomato;
}

.return {
  margin: 0 auto;
  text-align: center;
}

.return a {
  color: #000;
}

.return a:hover {
  text-decoration: underline;
}

.back-arrow::before {
  left: 0;
  width: 4px;
  height: 4px;
  border: 4px solid transparent;
  border-right: 4px solid #000;
  box-sizing: border-box;
}

/* fussy.html
-------------------------------------------*/
.fussy .top-box {
  background-image: url("../images/top-fussy.png");
  background-repeat: no-repeat;
}

.fussy-container {
  /*  background: pink;*/
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
}

.fussy-text {
  width: 50%;
  height: 100%;
  padding: 10%;
  box-sizing: border-box;
  background-color: #fff;
  float: left;
}

.fussy-container h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.fussy-container p {
  font-size: 0.9em;
  line-height: 1.8em;
}

.fussy-img {
  width: 50%;
  height: 100%;
  float: right;
}

.fussy-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fussy-container:last-child {
  margin-bottom: 0;
}

/* store.html
-------------------------------------------*/
.store .top-box {
  background-image: url("../images/top-store.png");
  background-repeat: no-repeat;
}

section.store-box {
  /*  margin-bottom: 0;*/
}

.store-box address table {
  margin: 0 auto;
}

.store-box th {
  /* background: #F9686B;*/
  width: 20%;
  padding: 30px;
  padding-left: 40px;
}

.store-box tr:first-child th {
  background: url("../images/Icon-map-pin.svg") no-repeat left center / 20px;
}

.store-box tr:nth-child(2) th {
  background: url("../images/Icon-time.svg") no-repeat left center / 20px;
}

.store-box tr:nth-child(3) th {
  background: url("../images/Icon-phone.svg") no-repeat left center / 20px;
}

.store-box td {
  width: 80%;
  padding: 30px;
}


/* qa.html
-------------------------------------------*/

.qa .top-box {
  background: url("../images/top-q-a.png") no-repeat;
}

.qa-box a {
  color: #000;
}

.qa-box a:hover {
  color: #00f;
  text-decoration: underline;
}

.qa-box dl {
  margin: 0 auto;
  width: 90%;
}

.qa-box dt {
  background: url("../images/icon-q.svg") no-repeat left top;
  font-weight: bold;
  padding-left: 30px;
  margin-bottom: 15px;
}

.qa-box dd {
  background: url("../images/icon-a.svg") no-repeat left top;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: dotted 1px #000;
}

.qa-box dd:last-child {
  margin-bottom: 0;
}



/* media screen 768px
-------------------------------------------*/

@media screen and (max-width : 768px) {
  .wrapper {
    width: 100%;
  }

  .gNav-center ul li a {
    font-size: 10px;
  }

  .gNav-right ul li a {
    font-size: 10px;
  }

  .index h2 {
    margin-bottom: 20px;
  }

  .concept-left p {
    font-size: 14px;
    line-height: normal;
  }
}

/* media screen 480px
-------------------------------------------*/
@media screen and (max-width : 480px) {}
